Package: com.lixy.insertDynamic
Name: insertDynamic
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: 李向阳
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

